body {
    background-color: rgba(143, 25, 25, 0.521);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(66, 225, 243);
    }
}

@media only screen and (max-width: 300px) {
    body {
        background-color: rgb(223, 238, 56);
    }
}

.home {
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo {
    height: 2em;
}

.anmelden {
    padding: 10px;
    margin: 10px;
    background-color: #2d7bb7;
    text-decoration: none;
    font-weight: bold;
    color: rgb(10, 7, 7)
}

.registrieren {
    padding: 10px;
    margin: 10px;
    background-color: #194ba275;
    text-decoration: none;
    font-weight: bold;
    color: rgb(20, 12, 12)
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.post {
    height: 200px;
    width: 200px;
}

#navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #474747;
    position: sticky;
    border-bottom: medium dashed #ef4a25;
}

.profil {
    display: flex;
    justify-content: space-around;
    min-width: 500px;
    height: 100%;
    margin-top: 20px;
}

.profil-kram {
    width: 100%;
}

.profil-bild {
    padding: 40px;
}

.profil-bild-img {
    height: 150px;
    width: 150px;
}

.profil-info {
    color: rgb(140, 11, 11);
}

.profil-stats {
    margin-top: 15px;
}

.profil-bio {
    text-align: center;
}

.flexbox {
    display: flex;
    justify-content: center;
}

.stat {
    margin-right: 10px;
}

.gallery {
    background-color: #396832a4;
    display: flex;
    justify-content: center;
}

.column {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.gallery-img {
    width: 300px;
    height: 300px;
    margin: 2px;
}