body{
    margin: 0px;
}

.home {
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo{
    height: 2em;
}

.anmelden {
    padding: 10px;
    margin: 10px;
    background-color: #8f0909;
    text-decoration: none;
    font-weight: bold;
    color:rgb(0, 0, 0)
}

.registrieren {
    padding: 10px;
    margin: 10px;
    background-color: #74646420;
    text-decoration: none;
    font-weight: bold;
    color:rgb(255, 0, 0)
}

.nav-buttons {
    display: flex;
    align-items: center;  
}

.post{
    height:200px;
    width:200px;
}

#navbar {
    top : 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #474747;
    position: sticky;
    border-bottom: medium dashed #060303;
}

.profil {
    display:flex;
    justify-content: space-around;
    min-width: 500px;
    height: 100%;
    margin-top: 20px;
}

.profil-kram{
    width: 100%;
}

.profil-bild {
    padding: 40px;
}

.profil-bild-img {
    height: 150px;
    width: 150px;
}

.profil-info {
}

.profil-stats {
    margin-top: 15px;
}

.profil-bio {
    text-align: center;
}

.flexbox{
    display:flex;
    justify-content: center;
}

.stat{
    margin-right: 10px;
}

.gallery{
    background-color: #040303;
    display:flex;
    justify-content: center;
}

.column{
    margin-top: 3px;
    display:flex;
    flex-direction: column;
}

.gallery-img{
    width: 300px;
    height: 300px;
    margin: 2px;
}